$comtijolo: #916d4b
$comtijolo-light: #af8974
$text: #444
$text-light: #999
$mustard: #F0E68C

$margin-xxl: 60px
$margin-xl:  45px
$margin-lg:  30px
$margin-md:  20px
$margin-sm:  15px

$padding-xxl: $margin-xxl
$padding-xl:  $margin-xl
$padding-lg:  $margin-lg
$padding-md:  $margin-md
$padding-sm:  $margin-sm
