@import 'layout/presets'

body
  background-color: $base
  height: 100%

#wrap
  height: auto !important
  height: 100%
  margin: 0 auto -160px
  min-height: 100%
  padding-bottom: 80px

.header

  .header-toolbar
    max-height: 300px
    min-height: 300px
    overflow: hidden

    .page-header
      border: 0
      margin: 0
      padding: 100px 0 0 20px

    h2
      color: $comtijolo
      margin: 0

    p
      margin: 0

  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a
    border-bottom: 1px solid $base

    &#home
      background: url('home.png') no-repeat center 

    &#relationship
      background: url('relationship.png') no-repeat center 

    &#health
      background: url('health.png') no-repeat center 

    &#inspiration
      background: url('inspiration.png') no-repeat center 

    &#out
      background: url('out.png') no-repeat center

    &#casal
      background: url('casal.png') no-repeat center

    &#mk
      background: url('marcos.png') no-repeat center

    &#kj
      background: url('kalina.png') no-repeat center

    &#contact
      background: url('contato.png') no-repeat center

.contact-container
  margin-top: 30px

.page-logo
  min-height: 300px
  
.search-form

  form
    margin: 0
    padding: 3px 0

  input#query
    background-color: transparent
    border: 0
    border-left: 1px solid $comtijolo
    box-shadow: none

  .btn.btn-default
    background-color: $base
    border: 0
    border-right: 1px solid $comtijolo

.sidebar
  margin-top: 28px

.pill-wall

  li
    border-radius: 4px
    border: 1px solid white
    margin: 1px 0

    a
      border-radius: 4px

      &:hover
        background-color: white

.new_message

  input, textarea, .btn-default
    background-color: transparent
    border: 1px solid white
    font-size: 14px
    margin-top: 1px

  .btn-default
    text-align: left
    text-indent: 15px

.fb-like, .fb-like-box
  border: 1px solid white
  border-top: 0
  display: inline-block
  margin-bottom: 40px
  padding: 20px 20px 10px
  width: 100%

#push, #footer
  height: 160px
  position: relative

#footer
  color: $text-light
  width: 1170px
  
  #aerogami
    bottom: 109px
    left: 76px
    position: absolute

    a
      color: #8A97C4

  #kaju
    bottom: 109px
    position: absolute
    right: 85px
    
    a
      color: #DB947A

  #footer-nav
    bottom: 80px
    position: absolute
    left: 560px

    a
      color: $text-light

      &:hover
        background-color: $base