article
  
  .sidebar-post
    margin-bottom: 30px

    ul
      padding: 0

      li
        position: relative

    h4
      bottom: 0
      position: absolute
      left: 0
      margin: 0
      padding: 20px
      width: 100%

      a
        color: white

p.sidebar_intro
  visibility: hidden
  position: absolute