@import 'layout/presets'

//  INDEX

.wall

  .post
    h2
      color: $text
      margin: 0

    .post-date
      color: $text-light
      text-transform: uppercase

    .post-photos
      margin-top: 20px

    p.note
      padding: 10px 0 0 10px  

    .post-footer
      color: $text-light
      min-height: 160px
      padding: 20px 0

      a, p
        margin: 0

      span
        display: inline-block
        margin-right: 20px
        margin-top: 6px

        &:last-child
          margin-right: 0

        i 
          margin-right: 8px

      .fb-like
        margin-top: $margin-md
        width: 100%

.post-content
  font-size: 17px
  line-height: 1.7
  text-align: justify

  a 
    font-weight: 600

.media-body

  p
    margin-bottom: 4px

  h6
    margin-top: 0

.post-further-readings
  margin-bottom: 60px

.post-comments
  margin-bottom: 100px

.element-controls
  margin-bottom: 60px

  a
    font-size: 18px  
    font-weight: 700

  span.name
    padding: 0 8px


//  EDIT post

.markdown-guide
  margin-top: 331px

  table

    tbody
      background-color: white

    td
      font-size: 15px