$comtijolo: #916d4b
$border: #E6E6E6
$text: #444
$text-medium: #999
$text-light: #B0B0B0
$base: #ECE7E2
$mustard: #F0E68C

.borderT
  border: 2px solid blue

.border
  border: 1px solid $border

p
  color: $text

ul
  margin: 0
  
  li
    list-style-type: none

a, .btn.btn-default
  color: $comtijolo

  &:hover
    color: $comtijolo
    text-decoration: none

.fill
  min-height: 100%
  height: 100%