p.sidebar_intro Nós somos um casal de namorados, parceiros, amigos coloridos - que seja, sem rótulos por favor. Decidimos saltar do ninho, enfrentar o desconhecido e registrar o percurso. Sim, vamos sair da casa dos pais e montar o nosso lar, erguer nossas empresas e aprender a viver bem, juntos, enquanto escrevemos este blog. Loucos desvairados, uma blasfêmia! Não. O dinheiro é escasso, a cidade intimidante e o tempo curto, mas vamos mostrar que é possível e, esperamos, prazeroso.
= link_to image_tag('intro.jpg', class: 'img-responsive'), casal_path